body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('/gitfromthebegining/images/background.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
